* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

/* Heroes */
.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90dvh;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 48px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    height: 450px;
}

.header-hero {
    font-size: 3em;
}